* {border: 1px solid black;}

body{
    display: flex;    
    min-height: 100vh;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    
    
}

html { 
    min-height: 100vh;

}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.board {
    background-color: whitesmoke;
    width: 512px;
    height: 512px;
    margin-bottom: 15px;
    border: 1px solid black;
    
}
.title {
    display: flex;
    justify-content: center;

}

.grid-item {
    background-color: black;
    height: 32px;
    width: 32px;
}